<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students :: Manage</title>
</head>
<body>

    <a href="{% url 'index' %}">Voltar</a>

    <h3>Students</h3>
    
    <form action="{% url 'students_add' %}" method="post">
        {% csrf_token %}

        <div>
            <label>Name:</label>
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        
        <br>

        <div>
            <label>Age:</label>
            {{ form.age }}
            {{ form.age.errors }}
        </div>
        
        <br>

        <input type="submit" value="Send"/>

    </form>

</body>
</html>
